

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}



/*nav bar*/

#goodnav{
     background-color: #CFC69F;
     margin-bottom: -2px;
     text-align: center;
     position: fixed;

}
/*banner*/
.intro-section {

    height: 100%;
    padding-top: 15vh;
    text-align: center;
    background: url("../images/atl_sky_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
   font-family: 'Josefin Sans', sans-serif;

}
/*my picture*/
#profile{
     height: 25vh;
     text-align: center;
     border-radius: 50%;
     margin-bottom: 2vh;

}
/*about section*/
.about-section {
    padding-top: 8vh;
    text-align: center;
    background-color: #CFC5A1;
    color: black;
    padding-bottom: 10vh;
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;

}
/*description paragraph*/
.about-section #leftabout {
     /*background-color: rgb(147, 139, 89);*/
     padding: 1%;
     /*border: 2px solid black;*/
}

.about-section #rightabout .abouticondiv .abouticon {
     height: 12.5vh;
     padding: 3%;
}
.about-section #rightabout {
     padding-top: 2%;
}
.abouticondiv {
     display: inline-block;
}

.aboutlink {
     color: rgb(223, 92, 28);

}




/*fun icon styling*/
.funicon{
     height: 10vh;
     padding: 3%;
}


.projects-section {
    height: 100%;
    padding-top: 5vh;
    text-align: center;
    background-color: #CFC5A1;
}
.project_div {
     display: inline-block;
     padding: 3%;
}
#blacktable{
     padding-bottom: 5px;
}
#parkimg{
     padding-top: 4vh;
     padding-bottom: 5px;
}
.projectlink {
     color: rgb(92, 70, 48);
}
.projectlink:hover {
     color: rgb(223, 99, 66);
}

.contact-section {
    height: 100%;
    padding-top: 7vh;
    text-align: center;
    background: #eee;
    padding-bottom: 10px;
    background-color: #CFC5A1;
}
#emailform {
     width: 37vw;
     border: 1px solid gray;
     border-radius: 5px;
}

h3{
text-align:center;
font-size:20px;
}
input{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}
#message{
width:100%;
height:100px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}

/*media queries*/
@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;


    }

    .top-nav-collapse {
        padding: 0;
    }
}
@media(min-width:1441px) {
     #bartop{
          padding-left: 0px;
          margin-left: 2%;
     }
}
@media(max-width:768px){
     #about {
          overflow: auto;
     }
}
@media(max-width:1500px){
     #form{
          height: auto;
          width: auto;
     }
}
@media(min-width:1500px){
     #form{
          height: auto;
          width: 770px;
     }
}

@media(min-width:1200px){
     #form{
          height: auto;
          width: 550px;
     }
}
@media(max-width:1184px){
     #form{
          height: auto;
          width: auto;
     }
}
@media(min-width:1530px){
     #form{
          height: 400px;
          width: 700px;
     }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
  -webkit-font-smoothing: antialiased;
}

#page-wrapper {
  width: 640px;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
  margin-top: 0;
}

.field {
  margin: 1em 0;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
